body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.add-button {
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #d6d2ce;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #a39f9d;
}